@import url(https://fonts.googleapis.com/css?family=Lato);

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background-color: #c4c7cd;
}

.content {
  background-color: #d4cccc;
  color: #404E6D;
  font-family: "Lato", sans-serif;
  max-width: 1080px;
  margin: 0 auto;
  border: 3px solid #D1A83B;
}

h1,
h2,
ul,
a p {
  text-align: center;
}



.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}
.main-pic {
  display: block;
  margin: 0 auto;
  margin-top: 0 auto;
  border-radius: 20%;
  border: 2px solid #404E6D;
  width: 300px;
  height: 300px;
}

h1 {
  color:black;
}

h2 {
  font-size: 40px;
  padding-top: 5px;
}

li {
  display: inline-block;
  font-size: 25px;
  padding: 10px;
}

a {
  color:#005eff
}


p1 {
  font-size: 25px;
}

p {
  font-size: 20px;
}