@import url(https://fonts.googleapis.com/css?family=Lato);

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background-color: rgb(196 199 205);
}

span {
  color: rgb(0 0 0);
}

blockquote {
  color: rgb(0 0 0);
  font-size: 28.5px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 a {
  color: rgb(0 0 0);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  font-size: 40px;
  padding-top: 5px;
  color: rgb(0 0 0);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.content {
  background-color: rgb(212 204 204);
  color: rgb(0 0 0);
  font-family: "Lato", sans-serif;
  max-width: 1080px;
  margin: 0 auto;
  border: 3px solid rgb(209 168 59);
}

h1,
h2,
ul,
a p {
  text-align: center;
}



.mdl-layout__header-row {
  justify-content: center;
  padding: 20;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}
.main-pic {
  display: block;
  margin: 0 auto;
  margin-top: 0 auto;
  border-radius: 50%;
  border: 5px solid rgb(0 0 139);
  width: 300px;
  height: 300px;
}

li {
  display: inline-block;
  font-size: 25px;
  padding: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a {
  color:rgb(6 56 255)
}

p a {
  color: rgb(0 0 255);
}

p {
  font-size: 20px;
  color: rgb(21 21 21);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



