@import url(https://fonts.googleapis.com/css?family=Indie+Flower);


body {
  background-color: #241e52;
}

.content {
  background-color: #f4f4f4;
  color: #404E6D;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 1080px;
  margin: 0 auto;
  border: 5px solid #004df4;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}

p {
  text-align: center;
  color: black;
  font-size: 25px;
}

h1,
h2,
ul,
a p {
  text-align: center;
}

h1 {
  font-size: 70px;
  padding-top: 20px;
}

h2 {
  font-size: 40px;
  padding-top: 5px;
}

li {
  display: inline-block;
  font-size: 25px;
  padding: 10px;
  color: black;
}

.main-pic {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #004df4;
  width: 300px;
  height: 300px;
}

blockquote {
  text-align: center;
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 50px;
  color: black;
}

.noteworthy {
  max-width: 760px;
  padding: 20px;
  margin: 0 auto;
  clear: both;
}

.description {
  font-size: 18px;
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: #004df4;
  margin: 20px
}


a {
  font-size: 20px;
}

h4 {
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

